/*************** start home page *******************/
/* start upper nav section */

.upper-nav{background-color: #ddd;}

.social-links a{color: #000;}

.theme-box a{color: #000;}

/* start navbar  */

.page-navbar{border-bottom: 1px solid #ddd;}

.page-brand{color: #000;}

.page-navmenu a{color: #676767}

.page-navmenu a:hover{color: #000;}